

@{
    /**/

    ViewBag.Title = "Index";
}

<link href="~/assets/login/estilo_login.css" rel="stylesheet" />
<br /><br />
<div class="form">
    <div class="thumbnail"><img src="~/assets/login/login.svg" /></div>
    @using (Html.BeginForm("Validar", "Login", FormMethod.Post))
    {
        <input type="text" name="Usuario" placeholder="Usuario" />
        <input type="password" name="Password" placeholder="Clave" />
        <button data-ajax="true" type="submit" class="btn btn-primary">
            Ingresar
        </button>
    }
</div>
<script src="~/assets/login/login.js"></script>
